<footer class="bg-light text-center text-white" >
<!-- Grid container -->

<div style="background-color: #c6c7c8" >
    <section>
        <!-- Linkedin -->
        <a
            mdbRipple
            class="btn btn-primary btn-floating m-1"
            style="background-color: #0082ca;"
            href="https://www.linkedin.com/in/juan-ignacio-pucheta"
            role="button"
            ><i class="fab fa-linkedin-in"></i>
        </a>
        <!-- Github -->
        <a
            mdbRipple
            class="btn btn-primary btn-floating m-1"
            style="background-color: #333333;"
            href="https://github.com/JuaniPucheta"
            role="button"
            ><i class="fab fa-github"></i>
        </a>
        </section>
</div>
<!-- Copyright -->
</footer>
